<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">PhimJav</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                </li>
                <li class="nav-item" id="login-btn">
                    <a class="nav-link" href="/auth/login.html">Login</a>
                </li>
                <li class="nav-item" id="register-btn">
                    <a class="nav-link" href="/auth/register.html">Register</a>
                </li>
                <!--                <li class="nav-item dropdown">-->
                <!--                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                <!--                        Dropdown-->
                <!--                    </a>-->
                <!--                    <ul class="dropdown-menu">-->
                <!--                        <li><a class="dropdown-item" href="#">Action</a></li>-->
                <!--                        <li><a class="dropdown-item" href="#">Another action</a></li>-->
                <!--                        <li><hr class="dropdown-divider"></li>-->
                <!--                        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                <!--                    </ul>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link disabled">Disabled</a>-->
                <!--                </li>-->
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a href="/home-manager/homeAdmin.html" class="ms-3" id="btn-manager">
                <button class="btn btn-outline-light">Manager</button>
            </a>
            <button class="btn btn-outline-light ms-3" onclick="logout()" id="btn-logout">Logout</button>
        </div>
    </div>
</nav>
</body>
</html>
<script>
    $(function () {
        let token = window.localStorage.getItem('TOKEN_KEY')
        if (token) {
            $('#login-btn').hide();
            $('#register-btn').hide();
            $('#btn-logout').show();
        } else {
            $('#login-btn').show();
            $('#register-btn').show();
            $('#btn-logout').remove();
        }
        let role = window.localStorage.getItem('ROLE_KEY')
        if (!role) {
            $('#btn-manager').remove()
        } else {
            if (role !== 'ADMIN' && role !== 'PM') {
                $('#btn-manager').remove()
            }
        }
    })

    function logout() {
        window.localStorage.removeItem('TOKEN_KEY');
        window.localStorage.removeItem('ROLE_KEY');
        window.localStorage.removeItem('currentUser');
        window.location.href = '/index.html';

    }
</script>